h2, h3, h4 {
	text-align: center;
}
img {
	width: 100%;
		border: 1px solid gray;
}
p {
	text-align: justify;
	font-size: 15px;
}
        
/* Legend Font Style */
body {
	font: 11px sans-serif;
}
        
/* Legend Position Style */
.legend {
	position:absolute;
	left:850px;
	top:350px;
  font-size: 12px;
}

.container {
  float: left;
  display:inline-block;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

path:hover {
	fill-opacity: .7;
}

rect {
    stroke-width: 2;
}

rect.state:active {
    fill: #ffffc0 !important;
}

rect.state.selected{
   fill: #ffaa00 !important;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

#tooltip {
  background-color: rgba(190, 190, 190, 0.8);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  padding: 5px 10px;
  text-align: center;
}