body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0px 10%;
}

footer {
    text-align: center;
}

svg {
    align-self: center;
    margin-bottom: 50px;
}


rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

rect.month:hover {
    fill: #ffff80 !important;
}

rect.month:active {
    fill: #ffffc0 !important;
}

rect.month.selected {
    fill: #ffff00 !important;
}

text.mono {
    font-size: 9pt;
    font-family: sans-serif;
    fill: #000;
}


#tooltip {
  background-color: rgba(190, 190, 190, 0.8);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  padding: 5px 10px;
  text-align: center;
}

.group-tick line {
  stroke: #000;
}
