/* Legend Position Style */
.legend {
	position:absolute;
	left: 800px;
	top: 180px;
    font-size: 14px;
}

.map {
    position: relative;
    left: -60px;
}

path:hover {
	fill-opacity: .7;
}

.pc {
    align-self: center;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: #ff8080;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.state.selected {
    fill: yellow !important;
}